*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cormorant Garamond', serif;
}

header{
    height: auto;
    background: -webkit-radial-gradient(top, #19191c , #072c58);
    border: 3px solid #000;
}

header a{
    text-decoration: none;
}

.logo{
    width: 300px;
    height: 80px;
}

li{
    border: 1px solid #fff;
}

li a{
    text-decoration: none;/*le saca el subrayado*/
    font-weight: bold;
    padding: 10px;/*aumenta el fonndo de la caja*/
    /*background-color: #000;*/
    background: -webkit-radial-gradient(top, #383847 , #194171);
}

li a:hover{
    background: -webkit-radial-gradient(top, #19191c , #072c58);
}

h1{
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.subrayado{
    background: #444649;
    height: 4px;
    width: 70px;
    margin-bottom: 7%;
}

.seccion_banda{
    height: auto;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom: 3px solid #000;
}

.contenedor{
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 5px;
    background: -webkit-radial-gradient(top, #19191c , #072c58);  
}

.seccion_integrantes{
    height: auto;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom: 3px solid #000;
}

.foto_integrantes{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid #fff;
}

.seccion_integrantes h3{
    color: #fff;
    font-size: 20px;
}

.seccion_integrantes button{
    color: #fff;
    margin-top: 3%;
    padding: 10px;
    font-weight: bold;
    background-color: #000;
    border-radius: 5px;
    transition-duration: .5s;
}

.seccion_integrantes button:hover{
    margin-top: 3%;
    padding: 10px;
    font-weight: bold;
    background-color: #000;
    background: -webkit-radial-gradient(top, #19191c , #072c58);
    transform: scale(1.05);
    transition-duration: .5s;
}

.seccion_integrantes a{
    text-decoration: none;
    color: #fff;
}

.seccion_discografia{
    width: 100%;
    height: auto;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom: 3px solid #000;
}

.foto_disco{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid #fff;
}

.seccion_discografia h3{
    color: #fff;
    font-size: 20px;

}

.seccion_discografia button{
    color: #fff;
    margin-top: 7%;
    padding: 7px;
    font-weight: bold;
    background-color: #000;
    border-radius: 5px;
    transition-duration: .5s;
}

.seccion_discografia button:hover{
    margin-top: 7%;
    padding: 7px;
    font-weight: bold;
    background-color: #000;
    background: -webkit-radial-gradient(top, #19191c , #072c58);
    transform: scale(1.05);
    transition-duration: .5s;
}

.seccion_discografia a{
    text-decoration: none;
    color: #fff;
}

.seccion_conciertos{
    height: auto;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom: 3px solid #000;
}

.concierto{
    width: 415px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 5px;
}

.seccion_conciertos h3{
    color: #fff;
    font-size: 20px;
    padding-bottom: 2%;
    font-weight: bold;
}

.seccion_conciertos button{
    color: #fff;
    margin-top: 5%;
    padding: 7px;
    font-weight: bold;
    background-color: #ff0000;
    opacity: .7;
    border-radius: 15px;
    transition-duration: .5s;
}

.seccion_conciertos button:hover{
    margin-top: 5%;
    padding: 7px;
    font-weight: bold;
    background-color: #ff0000;
    opacity: .9;
    transform: scale(1.05);
    transition-duration: .5s;
}

.seccion_conciertos a{
    text-decoration: none;
    color: #fff;
}

.seccion_registro{
    height: auto;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom: 3px solid #000;
}

footer{
    width: 100%;
    height: 20vh;
    background: -webkit-radial-gradient(top, #19191c , #072c58);
}

.centrar_iconos{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_iconos{
    display: flex;
    justify-content: center;
    width: 100px;
    height: auto;
    border: 1px solid orange;
    padding: 10px;
    margin-bottom: 30px;
}

.iconos{
    width: 100px;
    font-size: 18px;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.iconos a{
    color: #fff;
}

.iconos a:hover{
    color: rgb(44, 79, 233);
}

.contenedor_creador{
    display: flex;
    justify-content: center;
    width: 100px;
    height: auto;
    border: 1px solid orange;
    margin-bottom: 30px;
}

.nombre_creador{
    color: black;
    width: 100px;
    font-size: 18px;
    height: auto;
}