*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cormorant Garamond', serif;
}

header{
    height: auto;
    background: -webkit-radial-gradient(top, #19191c , #072c58);
    border: 3px solid #000;
}

header a{
    text-decoration: none;
}

.logo{
    width: 300px;
    height: 80px;
}

li{
    border: 1px solid #fff;
}

li a{
    text-decoration: none;/*le saca el subrayado*/
    font-weight: bold;
    padding: 10px;/*aumenta el fonndo de la caja*/
    /*background-color: #000;*/
    background: -webkit-radial-gradient(top, #383847 , #194171);
}

li a:hover{
    background: -webkit-radial-gradient(top, #19191c , #072c58);
}

h1{
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.subrayado{
    background: #444649;
    height: 4px;
    width: 70px;
    margin-bottom: 7%;
}

.contenedor{
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 5px;
    background: -webkit-radial-gradient(top, #19191c , #072c58);  
}

.seccion_banda{
    height: auto;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom: 3px solid #000;
}

.imagen_banda{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    border: 3px solid #000;
}

.seccion_banda p{
    color: #fff;
    font-size: 20px;
}

.seccion_integrantes{
    height: auto;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom: 3px solid #000;
}

.foto_integrantes{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid #fff;
}

.seccion_integrantes h3{
    color: #fff;
    font-size: 20px;
}

.seccion_integrantes button{
    color: #fff;
    margin-top: 3%;
    padding: 10px;
    font-weight: bold;
    background-color: #000;
    border-radius: 5px;
    transition-duration: .5s;
}

.seccion_integrantes button:hover{
    margin-top: 3%;
    padding: 10px;
    font-weight: bold;
    background-color: #000;
    background: -webkit-radial-gradient(top, #19191c , #072c58);
    transform: scale(1.05);
    transition-duration: .5s;
}

.seccion_integrantes a{
    text-decoration: none;
    color: #fff;
}

.seccion_discografia{
    width: 100%;
    height: auto;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom: 3px solid #000;
}

.foto_disco{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid #fff;
}

.seccion_discografia h3{
    color: #fff;
    font-size: 20px;

}

.seccion_discografia button{
    color: #fff;
    margin-top: 7%;
    padding: 7px;
    font-weight: bold;
    background-color: #000;
    border-radius: 5px;
    transition-duration: .5s;
}

.seccion_discografia button:hover{
    margin-top: 7%;
    padding: 7px;
    font-weight: bold;
    background-color: #000;
    background: -webkit-radial-gradient(top, #19191c , #072c58);
    transform: scale(1.05);
    transition-duration: .5s;
}

.seccion_discografia a{
    text-decoration: none;
    color: #fff;
}

.seccion_conciertos{
    height: auto;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom: 3px solid #000;
}

.concierto{
    width: 415px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 5px;
}

.seccion_conciertos h3{
    color: #fff;
    font-size: 20px;
    padding-bottom: 2%;
    font-weight: bold;
}

.seccion_conciertos button{
    color: #fff;
    margin-top: 5%;
    padding: 7px;
    font-weight: bold;
    background-color: #ff0000;
    opacity: .7;
    border-radius: 15px;
    transition-duration: .5s;
}

.seccion_conciertos button:hover{
    margin-top: 5%;
    padding: 7px;
    font-weight: bold;
    background-color: #ff0000;
    opacity: .9;
    transform: scale(1.05);
    transition-duration: .5s;
}

.seccion_conciertos a{
    text-decoration: none;
    color: #fff;
}

.seccion_registro{
    height: auto;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    padding-top: 120px;
    padding-bottom: 135px;
    border-bottom: 3px solid #000;
}

footer{
    height: auto;
    width: 100%;
    background: -webkit-radial-gradient(top, #19191c , #072c58);
}

.footer button{
    color: #fff;
    padding: 5px;
    font-weight: bold;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    transition-duration: .5s;
    margin-bottom: 30px;
}

.footer button:hover{
    padding: 5px;
    font-weight: bold;
    background-color: #000;
    background: -webkit-radial-gradient(top, #19191c , #072c58);
    transform: scale(1.05);
    transition-duration: .5s;
}

footer p{
    color: #fff;
}

footer a{
    color: #fff;
}

footer a:hover{
    text-decoration: none;
    color: #fff;
}

.borde_redes{
    border: 1px solid #fff;
}

.icono{
    font-size: 30px;
    transition-duration: 800ms;
    padding-right: 5px;
    padding-left: 5px;
}

.facebook{
    color: #1773ea;
}

.insta{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, 
    #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.youtube{
    color: #ff0000;
}

.github{
    font-size: 30px;
    padding-right: 5px;
    color: #fff;
}

.icono:hover{
    transform: scale(1.1);
    transition-duration: 400ms;
}
