*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cormorant Garamond', serif;
}

header{
    background: -webkit-radial-gradient(top, #19191c , #072c58);
    width: 100%;
    height: auto;
    border: 3px solid #000;
    position: fixed;
}

.banner{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor_iconos{
    width: 10%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
    font-size: 18px;
}

.contenedor_iconos a{
    color: #1773ea;
}

.contenedor_logo{
    width: 40%;
    height: 100px;
}

.logo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 100%;
    height: 80px;
}

.navBar{
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.navBar ul{
    display: flex;/*me pone en linea la barra*/
}

.navBar ul li{
    list-style: none;/*le saca los puntitos a la barra*/
    padding: 3%; /*separa las opciones*/
}

.navBar ul li a{
    text-decoration: none;/*le saca el subrayado*/
    color: #fff;
    font-weight: bold;
    padding: 10px;/*aumenta el fonndo de la caja*/
    background-color: #000;
    border-radius: 5px;
}

.navBar ul li a:hover{
    font-weight: bold;
    padding: 10px;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    border-radius: 5px;
    border: 1px solid #000;
}

.seccion_integrantes{
    width: 100%;
    height: auto;
    background: -webkit-radial-gradient(top, #383847 , #194171);
    padding-top: 175px;
    padding-bottom: 85px;
    border-bottom: 3px solid #000;
}

.seccion_integrantes h2{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.contenedor_imagenes{
    width: 100%;
    height: auto;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
}

.foto_integrantes{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid #fff;
}

.seccion_integrantes h3{
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.seccion_integrantes button{
    color: #fff;
    margin-top: 7%;
    margin-left: 25%;
    padding: 10px;
    font-weight: bold;
    background-color: #000;
    border-radius: 5px;
    font-family: 'Metal Mania', cursive;
    transition-duration: 1s;
}

.seccion_integrantes button:hover{
    margin-top: 7%;
    margin-left: 25%;
    padding: 10px;
    font-weight: bold;
    background-color: #000;
    background: -webkit-radial-gradient(top, #19191c , #072c58);
    font-family: 'Metal Mania', cursive;
    transform: scale(1.1);
    transition-duration: 1s;
}

.seccion_integrantes a{
    text-decoration: none;
    color: #fff;
}

